.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}
.ui-helper-clearfix:after,.ui-helper-clearfix:before{content:"";display:table;border-collapse:collapse}
.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-front{z-index:100}
.ui-state-disabled{cursor:default!important}
.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}
.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}
.ui-resizable{position:relative}
.ui-resizable-handle{position:absolute;font-size:.1px;display:block;-ms-touch-action:none;touch-action:none}
.ui-resizable-autohide .ui-resizable-handle,.ui-resizable-disabled .ui-resizable-handle{display:none}
.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}
.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}
.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}
.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}
.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}
.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}
.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}
.ui-button{display:inline-block;position:relative;padding:0;line-height:normal;margin-right:.1em;cursor:pointer;vertical-align:middle;text-align:center;overflow:visible}
.ui-button,.ui-button:active,.ui-button:hover,.ui-button:link,.ui-button:visited{text-decoration:none}
.ui-button .ui-button-text{display:block;line-height:normal}
ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em}
.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em}
.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em}
.ui-button-icon-only .ui-icon,.ui-button-icons-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon{position:absolute;top:50%;margin-top:-8px}
.ui-button-icons-only .ui-button-icon-primary,.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary{left:.5em}
.ui-button-icons-only .ui-button-icon-secondary,.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary{right:.5em}
.ui-buttonset{margin-right:7px}.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em}
button.ui-button::-moz-focus-inner,input.ui-button::-moz-focus-inner{border:0;padding:0}
.ui-dialog{overflow:hidden;position:absolute;top:0;left:0;padding:.2em;outline:0}
.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:0 0;overflow:auto}
.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0;background-image:none;margin-top:.5em;padding:.3em 1em .5em .4em}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right}
.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer}
.ui-dialog .ui-resizable-se{width:12px;height:12px;right:-5px;bottom:-5px;background-position:16px 16px}
.ui-tabs{position:relative;padding:.2em}.ui-tabs .ui-tabs-nav{margin:0;padding:.2em .2em 0}
.ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;top:0;margin:1px .2em 0 0;border-bottom-width:0;padding:0;white-space:nowrap}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{float:left;padding:.5em 1em;text-decoration:none}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{margin-bottom:-1px;padding-bottom:1px}
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor{cursor:text}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor{cursor:pointer}
.ui-tabs .ui-tabs-panel{display:block;border-width:0;padding:1em 1.4em;background:0 0}
.ui-widget{font-family:Arial,Helvetica,sans-serif;font-size:1em}
.ui-widget .ui-widget{font-size:1em}
.ui-widget button,.ui-widget input,.ui-widget select,.ui-widget textarea{font-family:Arial,Helvetica,sans-serif;font-size:1em}
.ui-widget-content{color:#333}.ui-widget-header{border:1px solid #ddd;background:#e9e9e9;color:#333;font-weight:700}
.ui-widget-header a{color:#333}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:700}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:400}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}
.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.ui-icon{width:16px;height:16px}
.ui-icon,.ui-widget-content .ui-icon,.ui-widget-header .ui-icon{background-image:url(images/ui-icons_444444_256x240.png)}
.ui-state-default .ui-icon{background-image:url(images/ui-icons_777777_256x240.png)}
.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url(images/ui-icons_cc0000_256x240.png)}
.ui-icon-check{background-position:-64px -144px}.ui-corner-all,.ui-corner-left,.ui-corner-tl,.ui-corner-top{border-top-left-radius:3px}
.ui-corner-all,.ui-corner-right,.ui-corner-top,.ui-corner-tr{border-top-right-radius:3px}
.ui-corner-all,.ui-corner-bl,.ui-corner-bottom,.ui-corner-left{border-bottom-left-radius:3px}
.ui-corner-all,.ui-corner-bottom,.ui-corner-br,.ui-corner-right{border-bottom-right-radius:3px}
.ui-widget-overlay{background:#aaa;opacity:.3;filter:Alpha(Opacity=30)}
.ui-widget-shadow{margin:0;padding:5px;background:#666;opacity:.3;filter:Alpha(Opacity=30);border-radius:8px}
.viewport{height:576px;overflow:hidden}.triangle,.triangle--bottom,.triangle--locBottom,.triangle--locTop,.triangle--top,.tripAdvisorTriangle--locBottom,.tripAdvisorTriangle--locTop{border-style:solid;left:0;position:absolute;width:0;height:0}
.triangle--locTop,.triangle--top{top:0;border-width:32px 32px 0 0;border-color:#0061C5 transparent transparent}
.triangle--bottom,.triangle--locBottom{bottom:0;border-width:0 32px 32px 0;border-color:transparent transparent #0061C5}
.triangle--top--endSoon,.triangle--top--landing,.triangle--top--top{border-width:25px 25px 0 0}
.triangle--bottom--endSoon,.triangle--bottom--landing,.triangle--bottom--top{border-width:0 25px 25px 0}
.locRibbon{background:#0061C5;box-sizing:border-box;height:40px;padding:10px 30px 10px 15px;top:70px}
.locRibbon__title{padding-left:8px}.locRibbon__img{height:18px;margin-bottom:5px}
.loc--endSoon,.loc--landing,.loc--top{top:30px}
.loc--auction{height:32px;padding:6px 20px 0 12px;top:20px}
.triangle--locTop{left:auto;right:-20px;border-width:20px 20px 0 0}
.triangle--locBottom{left:auto;right:-20px;border-width:0 20px 20px 0}
.tripAdvisorRating{background:#fff;box-sizing:border-box;height:60px;padding:0}
.tripAdvisorRating--featured{top:120px!important}.tripAdvisorRating--endSoon{top:80px!important}
.tripAdvisorRating--auction{top:60px!important}.tripAdvisorTriangle--locTop{top:0;border-color:#fff transparent transparent;left:auto;right:-30px;border-width:30px 30px 0 0}
.tripAdvisorTriangle--locBottom{bottom:0;border-color:transparent transparent #fff;left:auto;right:-30px;border-width:0 30px 30px 0}
.tripAdvisorRating__iframe{border-style:none;width:135px;height:60px;background-color:transparent!important}
.tripAdvisorDetail__iframe{border-style:none;width:100%;height:980px;padding:0}
.tripAdvisorTriangle--hiddenBar{position:absolute;top:0;left:0;z-index:2;width:135px;height:60px}
.featured{width:1024px}.endSoon,.landing,.top{margin-right:32px;width:320px}
.endSoon,.landing{margin-bottom:25px}.endSoon:nth-child(3n),
.landing:nth-child(3n){margin-right:0}.featured__imgDiv{height:512px}
.endSoon__imgDiv,.landing__imgDiv,.top__imgDiv{height:300px;overflow:hidden}
.featured__img{width:1024px;height:512px}
.endSoon__img,.landing__img,.top__img{position:relative;left:-140px}
.auction__title{bottom:0;box-sizing:border-box;color:#0061C5}
.auction__title--featured{padding:15px}
.auction__title--endSoon,.auction__title--landing,.auction__title--top{padding:10px}
.featured__h2{font-size:24px}.endSoon__h2,.landing__h2,.top__h2{font-size:18px}
.auction__bar{background:#0061C5}.featured__bar__el{font-size:16px;height:64px}
.endSoon__bar__el,.landing__bar__el,.top__bar__el{font-size:14px;height:50px}
.bidSection{padding-left:10px}
.auction__bigger--featured{font-size:20px}
.auction__bigger--endSoon,.auction__bigger--landing,.auction__bigger--top{font-size:18px}
.bidMsg{background:#F4971A;font-size:36px;padding:0 20px 0 70px}
.bidMsg--endSoon,.bidMsg--landing,.bidMsg--top{font-size:20px;padding:0 5px 0 25px}
.bidBtn:disabled,
.ended .bidSection,.ended .locRibbon,.ended .timeSection,.prod__disabled,.yourBid__inp:disabled{background:#e8e8e8!important;border-color:#686b6b;color:#686b6b}
.ended .bidMsg,.prod__disabled--inv{background:#686b6b!important;color:#e8e8e8}
.ended .bidMsg .triangle--locTop,.ended .bidMsg .triangle--top,.ended .triangle--locTop,.prod__disabled--inv .triangle--locTop,.prod__disabled--inv .triangle--top{border-color:#e8e8e8 transparent transparent}
.ended .bidMsg .triangle--bottom,.ended .bidMsg .triangle--locBottom,.ended .triangle--locBottom,.prod__disabled--inv .triangle--bottom,.prod__disabled--inv .triangle--locBottom{border-color:transparent transparent #e8e8e8}
.ended .endSoon__img,.ended .featured__img,.ended .landing__img,.ended .top__img,.ended .tripAdvisorRating{-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.ended .endSoon__h2,.ended .featured__h2,.ended .landing__h2,.ended .top__h2{color:#686b6b}
.ui-widget-overlay{background:#000}.ui-tabs .ui-tabs-panel{border:1px solid #DDD}
.ui-state-default .ui-icon{background-image:url(/css/images/ui-icons_ffffff_256x240.png)}
.ui-widget-header{border:0;background:#fff}
.ui-widget .fs14{font-size:14px}
.ui-dialog{padding:0}.noUiDialog{background:#fff;overflow:visible}
.noUiDialog .ui-widget-header{display:none}.noUiDialog .ui-widget-content{position:static}
.noUiDialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:none;text-align:center}
.noUiDialog .ui-dialog-buttonpane .dialog__ok{border:0;font-weight:700;margin:0 0 15px;padding:5px 0}
.dialog__ok--sm{font-weight:700}.dialog__ok--sm,.noUiDialog .ui-dialog-buttonpane .dialog__ok--alert{padding:5px 20px}
.noUiDialog .paddedDialog{padding-left:30px;padding-right:30px}
.dialog__close{border:3px solid #FFF;border-radius:50%;width:28px;height:28px;z-index:999;right:-40px;top:0}
.dialog__X{font-size:14px;line-height:14px;width:50%;height:50%}
.absCenter{margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}
.featured__prev{left:20px;top:40%}.featured__next{right:20px;top:40%}
.featured__bullets{bottom:144px;left:50%;margin-right:-50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%)}
.featured__bullet{background:#fff;border:1px solid #adadff;border-radius:50%;opacity:.8;width:14px;height:14px}.featured__bullet.active{background:#0061C5;border-color:#0061C5}.viewport--top{height:350px}.bidSteps{text-align:center;padding:20px;color:#fff}.bidSteps__box1{background:#99c0e9}.bidSteps__box2{background:#66a1dd}.bidSteps__box3{background:#3481d1}.bidSteps__img{margin-left:auto;margin-right:auto;vertical-align:middle;margin-bottom:20px}.bidSteps__title{font-size:30px;margin-bottom:10px}.bidSteps__p,.home__h1{font-size:16px;font-weight:400}.bidSteps__box1 .bidSteps__img{width:80px;height:82px}.bidSteps__box2 .bidSteps__img{width:54px;height:80px}.bidSteps__box3 .bidSteps__img{width:94px;height:80px}.sudoPress{padding:30px;background:#eaeaea;text-align:center;margin-left:auto;margin-right:auto}.sudoPress__title{color:#fe8a01;font-size:25px;margin-bottom:20px}.sudoPress__legend{color:#176fc9;font-size:20px;margin-right:auto;margin-left:auto;padding:20px}.sudoPress__img{cursor:pointer}.sudoPress__cuotes{font-size:60px;color:#176fc9}.sudoPress__table{margin:0 auto}.sudoPress__comillas{margin-top:-15px;width:25px}.appDownload{padding-top:70px;padding-left:70px;padding-bottom:0;background:0 0;text-align:left}.appDownload__title{color:#176fc9;font-size:25px;margin-bottom:5px;margin-top:50px}
.appDownload__legend{color:#176fc9;font-size:20px}
.appDownload__div{margin-top:30px;width:316px}
.appDownload__logo{background:url(https://08d475bfdae6f2c56552-e3cfdac40fc19cfa122504f40b10d6a9.ssl.cf3.rackcdn.com/images/logo/app-store-sprite.png);width:128px;height:44px}.appDownload__appStore{background-position:0 0}.appDownload__googlePlay{background-position:128px 0;margin-left:60px}
.appDownload__img{padding-right:70px}



