/*!
 * Start Bootstrap - Stylish Portfolio Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */
@font-face {
    font-family: Zoloft;
    font-style: normal;
    font-weight: normal;
    src: url(http://51.254.117.90/NFU/view/fonts/Zolofn_.ttf);
}
ul{
    text-decoration: none;
}
html,
body {

    width: 100%;
    height: 100%;
}
a{
    color:#fff;

}
a:hover{
    color: #00AF27;

}

header {

    font-family: "Zoloft";
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    // background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header_register{

    z-index:-100;

    height: 10%;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #081B42;/*#2c2c2c;*/
    background-image: -moz-linear-gradient(top,  #081B42, #294D5C);
    background-image: -ms-linear-gradient(top,  #081B42, #294D5C);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from( #081B42), to(#294D5C));
    background-image: -webkit-linear-gradient(top,  #081B42, #294D5C);
    background-image: -o-linear-gradient(top,  #081B42, #294D5C);
    background-image: linear-gradient(top,  #081B42 #294D5C);
    background-repeat: repeat-x;
    // -webkit-border-radius: 4px;
    //  -moz-border-radius: 4px;
    //     border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=' #081B42', endColorstr='#294D5C', GradientType=0);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:#fff;
    color:#081B42;
    width: 100%;
    height: 100%;
}
/*Icono menu*/

#icono{
    font-size:30px;
    // width:30px;
}
/*Letter description main ppral*/
.main_letrero {
    font-family: "Zoloft";
    background-color: #081B42;
    color:#fff;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}
html { overflow-x:hidden; }
/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: #00AF27;
    border-radius: 4px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

.buttonlogin {
    display: inline;
}
.buttonlogin {
    z-index: 150;
    margin: 0px;
    padding: 0px;
    height: 35px;
    width: 105px;
    // background: url(../images/newlanding/backgrounds/button_login.jpg) repeat-x;
    background-color: #00AF27;
    border: 1px solid #00AF27;
    float: right;
    margin-right: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 15px;
    text-align: center;
    box-shadow: 0px 0px 5px #333;
    color:#fff;
}
.buttonlogin:hover,
.buttonlogin:focus,
.buttonlogin:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}
/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
    background-color: #081B42;
    color:  #081B42;
    background-color:  #081B42;
    height: 2px;

}


/* Side Menu */

#sidebar-wrapper {

    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;

    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {

    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    // background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* inputs header*/
.input_header{
    margin-left: 33%;
    background-color: #fff;
}

.btn-primary{
    position:relative;
    right:40%;

}

/*inputs header*/
.input-control {

    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


@media(max-width:768px) {
    /*inputs header*/
    .input_header {

        //display: block;
        display: inline-block;
        float: left;
        width: 0px;
        height: 34px;
        /* padding: 6px 12px;
         font-size: 14px;
         line-height: 1.42857143;
         color: #555;
         background-color: #fff;
         background-image: none;
         border: 1px solid #ccc;
         border-radius: 4px;
         -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
         box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
         -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
         transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    }
    .input-control{
        display: inline-block;
        width: 120px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    #btn_buscar{
        position:relative;
    }
}


/*letras sección partidas main*/
.blue_leter{
    color:#081B42;
    text-align: left;
}
/*barra inferior partidas*/
#bottom_partidas{
    background-color: #081B42;
    height: 50px;
}
#btn_partida{
    background-color: #00AF27;
    height: 50px;

}
#juega{
    text-decoration: bold;
    margin-top: 10px;
}
/* About */

.about {
    padding: 50px 0;
    background-color:#081B42;
    color:#fff;
}

/*match */

.match {
    padding: 50px 0;
    background-color: #fff;
}
/*h2 last match*/
.last_match{
    color:#081B42;
    font-family: Zoloft;
}
.service-item {
    margin-bottom: 30px;
}

#propiedades{
    margin-top: 5px;
    margin-bottom: 5px;
}
#colum{

    border-style:solid;
    // border-color:  #081B42;
    //border-width: 2px;
    // border-radius: 4px;
    padding:10px;
    //margin-bottom: 10px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*hr*/
.blue{
    color:  #081B42;
    background-color:  #081B42;
    height: 5px;
    width: 80%;}
/*Slider logos*/
#owl-demo .item{
    margin: 3px;
    display:block;
}
#owl-demo .item img{

    width: 100%;
    height: auto;
}


/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
    max-width: 100%;
}




.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map {
    height: 500px;
}

/* Logo del menu */
.logo_menu{

    max-width: 100%;
}

/* logo facebook menu */
.face{
    position:absolute;
    left: 46%;
    bottom: 5%;
}


/* logo twitter menu */

.list-inline{
    position:absolute;
    bottom: 5%;
    left: 15%;
}
/*.twitter{
    position:absolute;
    left: 55%;
    bottom: 5%;
}*/

.frase{
    position:absolute;
    left: 45%;
    bottom: 5%;
    color:black;
}
@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Footer */
.titulo{

    font-family: "Zoloft";
}



footer {
    padding: 10px 0;
    width: 100%;
    background-color:  #081B42;
    color:#fff;


}

.navcontainer ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.navcontainer ul li { display: inline; }


  #posicion_partida{
        background-color: #3B170B;
        color:#fff;
        padding:10px 20px 10px 20px;
        position:absolute;
        left:4.6%;
        top:10%;
    }




@media (min-width: 768px) { 
    .posicion_partida{
        background-color: #3B170B;
        color:#fff;
        padding:10px 20px 10px 20px;
        position:absolute;
        left:4.6%;
        top:10%;
    }
    .img-avatar{
        margin: 0 auto;
        width: 50%;  
    }
    .anchor{
        padding: 10% 0;  

    }
    #index1{
        width: 40%;
        height: 40%;
        position: absolute;
        left: 12%;
        top:37%;
        z-index: +1;
    }
    #index2{
        width: 40%;
        height: 40%;
        position: absolute;
        left: 30%;
        top:33%;
        z-index: +1;
    }
    #index3{
        width: 40%;
        height: 40%;
        position: absolute;
        left:48%;
        top:40%;
        z-index: +1;
    }
}


@media (max-width: 767px) {
    .posicion_partida{
        background-color: #3B170B;
        color:#fff;
        padding:10px 20px 10px 20px;
        position:absolute;
        left:4.6%;
        top:10%;
    }
    .img-avatar{
        margin: 0 auto;
        width: 50%; 
    }
    .anchor{
        padding: 15% 0;  

    }
    #index1{
        width: 40%;
        height: 40%;
        position: absolute;
        left: 13%;
        top:56%;
        z-index: +1;
    }
    #index2{
        width: 40%;
        height: 40%;
        position: absolute;
        left: 30%;
        top:53%;
        z-index: +1;
    }
    #index3{
        width: 40%;
        height: 40%;
        position: absolute;
        left:48%;
        top:57%;
        z-index: +1;
    }
}

/* Large desktops and laptops */
@media (min-width: 992px){


    .img-avatar{
        margin: 0 auto;
        width: 50%;  
    }
    /*avatar usuarios e instalaciones más valoradas*/
    .anchor{
         padding: 10% 0;  

    }
    .posicion_partida{
        background-color: #3B170B;
        color:#fff;
        padding:10px 20px 10px 20px;
        position:absolute;
        left:4.6%;
        top:10%;
    }
    #index1{
        width: 40%;
        height: 40%;
        position: absolute;
        left: 13%;
        top:46%;
        z-index: +1;
    }
    #index2{
        width: 40%;
        height: 40%;
        position: absolute;
        left: 29%;
        top:43%;
        z-index: +1;
    }
    #index3{
        width: 40%;
        height: 40%;
        position: absolute;
        left:47%;
        top:49%;
        z-index: +1;
    }
}

@media (min-width: 1224px){

  
    .img-avatar{
        margin: 0 auto;
        width: 50%;  
    }
    /*avatar usuarios e instalaciones más valoradas*/
    .anchor{
        padding: 20% 0;  

    }
    #index1{
        width: 40%;
        height: 40%;
        position: absolute;
        left: 13%;
        top:46%;
        z-index: +1;
    }
    #index2{
        width: 40%;
        height: 40%;
        position: absolute;
        left: 29%;
        top:43%;
        z-index: +1;
    }
    #index3{
        width: 40%;
        height: 40%;
        position: absolute;
        left:47%;
        top:49%;
        z-index: +1;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .posicion_partida{
        background-color: #3B170B;
        color:#fff;
        padding:10px 20px 10px 20px;
        position:absolute;
        left:4.6%;
        top:10%;
    }
    .img-avatar{
        margin: 0 auto;
        width: 60%;  
    }
    .anchor{
        // padding: 20% 0;  

        min-height: 40%;
    }
    #index1{
        width:40%;
        height: 40%;
        position: absolute;
        left: 12%;
        top:53%;
        z-index: +1;
    }
    #index2{
        width:40%;
        height: 40%;
        position: absolute;
        left: 30%;
        top:50%;
        z-index: +1;
    }
    #index3{
        width:40%;
        height: 40%;
        position: absolute;
        left:48%;
        top:55%;
        z-index: +1;
    }
}

/*header register*/
/*para vision movil escodemos el css de vision PC*/
#pc_vision{
    display: none;
}
#mobile_vision{
    display: block;
}

.avatar_usu{
    width: 50px;
}

.header_usu_register_mov_tab{

    z-index:-100;

    height: 10%;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #00FF00;/*#2c2c2c;*/
    background-image: -moz-linear-gradient(top,  #081B42, #294D5C);
    background-image: -ms-linear-gradient(top,  #081B42, #294D5C);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from( #081B42), to(#294D5C));
    background-image: -webkit-linear-gradient(top,  #00FF00, #32CD32);
    background-image: -o-linear-gradient(top,  #081B42, #294D5C);
    background-image: linear-gradient(top,  #081B42 #294D5C);
    background-repeat: repeat-x;
    // -webkit-border-radius: 4px;
    //  -moz-border-radius: 4px;
    //     border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=' #081B42', endColorstr='#294D5C', GradientType=0);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.header_admin_register_mov_tab{
    
    z-index:-100;

    height: 10%;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #081B42;/*#2c2c2c;*/
    background-image: -moz-linear-gradient(top,  #081B42, #294D5C);
    background-image: -ms-linear-gradient(top,  #081B42, #294D5C);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from( #081B42), to(#294D5C));
    background-image: -webkit-linear-gradient(top,  #081B42, #294D5C);
    background-image: -o-linear-gradient(top,  #081B42, #294D5C);
    background-image: linear-gradient(top,  #081B42 #294D5C);
    background-repeat: repeat-x;
    // -webkit-border-radius: 4px;
    //  -moz-border-radius: 4px;
    //     border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=' #081B42', endColorstr='#294D5C', GradientType=0);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);       
}

.distance_setting_mov_tab {
    padding-top: 12px;
    /*padding-left: 4%;*/
    padding-right: 30%;
    float: right;
}

.size_usu_perfil{
    margin-right: 177px;
    /*padding-left: 45px;*/
    margin-top: -14px;
}
@media (min-device-width:960px){

    #pc_vision{
    display: block;
    }
    
    #mobile_vision{
        display: none;
    }
    
    .header_usu_register{

    z-index:-100;

    height: 10%;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #47810D;/*#2c2c2c;*/
    background-image: -moz-linear-gradient(top,  #081B42, #294D5C);
    background-image: -ms-linear-gradient(top,  #081B42, #294D5C);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from( #081B42), to(#294D5C));
    background-image: -webkit-linear-gradient(top, #32CD32,#47810D);
    background-image: -o-linear-gradient(top,  #081B42, #294D5C);
    background-image: linear-gradient(top,  #081B42 #294D5C);
    background-repeat: repeat-x;
    // -webkit-border-radius: 4px;
    //  -moz-border-radius: 4px;
    //     border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=' #081B42', endColorstr='#294D5C', GradientType=0);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.header_admin_register{

    z-index:-100;

    height: 10%;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #081B42;/*#2c2c2c;*/
    background-image: -moz-linear-gradient(top,  #081B42, #294D5C);
    background-image: -ms-linear-gradient(top,  #081B42, #294D5C);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from( #081B42), to(#294D5C));
    background-image: -webkit-linear-gradient(top,  #081B42, #294D5C);
    background-image: -o-linear-gradient(top,  #081B42, #294D5C);
    background-image: linear-gradient(top,  #081B42 #294D5C);
    background-repeat: repeat-x;
    // -webkit-border-radius: 4px;
    //  -moz-border-radius: 4px;
    //     border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=' #081B42', endColorstr='#294D5C', GradientType=0);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);       
}


.size_input_usu_header {
    width: 47%;
    border-radius: 17px !important;
}

.distance_usu{
    padding-top: 12px;
}

.distance_setting{
    padding-top: 12px;
    padding-left: 7%;
}

.size_usu_perfil{
    margin-right: 177px;
    /*padding-left: 45px;*/
    margin-top: -14px;
}

a>h3{
    color: white;
}

.avatar_usu{
    width: 50px;
    margin-top: -2px;
    margin-right: 45%;
}
}


/*fin header register*/